doctype html
html
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.0/css/all.css", integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q", crossorigin="anonymous")
        title #{pageTitle} | WeTube
        link(rel="stylesheet", href="/static/styles.css")
    body
        include ../partials/header
        main
            block content
        include ../partials/footer
        script(src="/static/main.js")